# RepoReader Environment Configuration

# Node.js Express Backend Settings
PORT=5000
MONGODB_URI=mongodb://localhost:27017/reporeader

# Python Backend Settings
PYTHON_PORT=8000
QDRANT_HOST=https://your-qdrant-cluster.cloud.qdrant.io
QDRANT_API_KEY=your-qdrant-api-key

# LLM Chat Settings (OpenAI Compatible)
LLM_API_BASE_URL=https://api.hyperbolic.xyz/v1  # or your LLM api provider base URL
LLM_API_key=
LLM_MODEL=meta-llama/Llama-3.3-70B-Instruct    # or deepseek-v4-flash, gemma-2-2b-it, etc.
LLM_SYSTEM_ROLE_SUPPORTED=true                 # set to false if the model/API provider does not support the system role


# Optional GitHub PAT for higher rate limits on public/private repos
GITHUB_TOKEN=your-github-token
